<div class="row">

    <h1>educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>estudio 1</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum, dolor sit amet consectetur 
                adipisicing elit. Soluta consequuntur, 
                consectetur at veniam odio maxime accusamus!
                Aperiam autem, id placeat mollitia,
                 officiis molestias deserunt eligendi architecto,
                  aliquid voluptatibus cum provident?
            </p>



        </ul>
        <ul>
            <li>
                <h1>estudio 2</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum, dolor sit amet consectetur 
                adipisicing elit. Soluta consequuntur, 
                consectetur at veniam odio maxime accusamus!
                Aperiam autem, id placeat mollitia,
                 officiis molestias deserunt eligendi architecto,
                  aliquid voluptatibus cum provident?
            </p>



        </ul>
        <ul>
            <li>
                <h1>estudio 3</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum, dolor sit amet consectetur 
                adipisicing elit. Soluta consequuntur, 
                consectetur at veniam odio maxime accusamus!
                Aperiam autem, id placeat mollitia,
                 officiis molestias deserunt eligendi architecto,
                  aliquid voluptatibus cum provident?
            </p>



        </ul>
    </div>
    </div>

