<div class="row">
    <h1>proyecto realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
<h3>tablero de basquet en c#</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
     Doloribus magni odit deserunt cupiditate delectus sed sint, 
    totam aperiam facilis eaque voluptas veniam repellat soluta,
     hic fuga recusandae corporis consequatur rem. </p>

        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-md-1 parte2">
<img src="../../../assets/eng.png" class="ing-fluid img-proyecto">

        </div>
    </div>
</div>
