<div class="row">
    <h1>hard & soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">  
        <img src="../../../assets/html.png">
        <h1>html</h1> 
    <circle-progress
        [percent]="50"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="500"
  ></circle-progress>
</div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">   
        <img src="../../../assets/CSS.png" class="grupal">
        <h1>css</h1> 
    <circle-progress
        [percent]="50"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="500"
  ></circle-progress>
</div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">   
        <img src="../../../assets/js.png" class="grupal"id="js">
        <h1>javascript</h1> 
    <circle-progress
        [percent]="50"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="500"
  ></circle-progress>
</div> 
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <img src="../../../assets/git.png" class="grupal"id="git">  
        <h1>Github</h1> 
    <circle-progress
        [percent]="50"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="500"
  ></circle-progress>
</div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">   
        <img src="../../../assets/grupal.png" class="grupal"id="gp">
        <h1>Grupal</h1> 
    <circle-progress
        [percent]="50"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="500"
  ></circle-progress>
</div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <img src="../../../assets/eng.png" class="grupal">
        <h1>Comunicacion</h1> 
    <circle-progress
        [percent]="50"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="500"
  ></circle-progress>
</div>
</div>
